<a href="https://colab.research.google.com/github/betoroncolato/exercicios/blob/main/Lista_Exerc%C3%ADcios_Trilha_01_Cap_02_e_03_Roberto_Roncolato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#EXERCICIOS CAPITULO 2 
# Exercicio 1 (Trilha 1)
x = 0.0
y = 18
z = x + y 
print('x =', type(x))
print('y =', type(y))
print('z =', z)
print('z =', type(z))

x = <class 'float'>
y = <class 'int'>
z = 18.0
z = <class 'float'>

In [ ]:
## Exercicio 2 (Trilha 1)
a = 10
print(A)

Questão 3

In [ ]:
## Exercicio 3 (Trilha 1)
A = "Questão 3"
B = 25
C= 3.9
print("A = ", type (A))
print ("B = ", type (B))
print ("C = ", type (C))

A =  <class 'str'>
B =  <class 'int'>
C =  <class 'float'>

In [ ]:
# Exercicio 4 (Trilha 1)
a = 14
b = 5
c = a + b
print(c)
c = a - b
print(c)
c = a * b
print(c)
c = a / b
print(c)
c = a // b
print(c)
c = a % b
print(c)
c = -a
print(c)
c = a ** b
print(c)

19
9
70
2.8
2
4
-14
537824

In [ ]:
# Exercicio 5 (Trilha 1)
base = 9
altura = 6
area = ((base * altura) / 2)
print(area)

27.0

In [ ]:
# Exercicio 6 (Trilha 1)
base = int(input('Olá, digite o valor para a base do triangulo' ,))
altura = int(input("Agora, digite o valor da altura do triangulo" ,))
area = ((base * altura) / 2)
print("A area do triangulo é", area)

Olá, digite o valor para a base do triangulo10
Agora, digite o valor da altura do triangulo15
A area do triangulo é 75.0

In [ ]:
# Exercio 7 (Trilha 1)
valorhora = 14.25
horas = 163
horaextra = 20
salario = valorhora * horas
print("O salário foi de ", salario)
extra = (valorhora * 2) * horaextra
print("O salário extra foi de", extra)
salariototal = salario + extra
print("O total a receber é", salariototal)

O salário foi de  2322.75
O salário extra foi de 570.0
O total a receber é 2892.75

In [ ]:
# Exercicio 8 (Trilha 1)
#8.a
A = 4
B = 5
C = 1
r = (A + B)/2
print("Exercicio 8.a r=",r)

#8.b
from math import sqrt
r = sqrt(B ** 2 - 4 * A * C)    # calculo raiz quadrada
x = (-B + r) / (2 * A)          # calculo -b + resultado raiz quadrada sobre 2 * a
print("Exercicio 8.b x =", x)

#8.c
r = (3 * A + 2 * 5) / (A + B)
print("Exercicio 8.c r=", r)

#8.d
z = 7.6 * A - (5 ** 1.7)
print("Exercicio 8.d z= ", z)

#8.e
x1 = 1
x2 = 4
y1 = 1
y2 = 5

Exercicio 8.a r= 4.5
Exercicio 8.b x = -0.25
Exercicio 8.c r= 2.4444444444444446
Exercicio 8.d z=  14.974153431999758

In [ ]:
#Exercicio 9 - Trilha 1

In [ ]:
#Exercicio 10 - Trilha 1 
produto1 = input("Digite o nome do produto")
quantprod1 = int(input("Qual a quantidade vendida?"))
valorprod1 = float(input("Qual o valor unitário?"))
vendasprod1 = quantprod1 * valorprod1
print(f"O total de vendas do {produto1} foi de R$ {vendasprod1}")
print(" ")
produto2 = input("Digite o nome do produto")
quantprod2 = int(input("Qual a quantidade vendida?"))
valorprod2 = float(input("Qual o valor unitário?"))
vendasprod2 = quantprod2 * valorprod2
print(f"O total de vendas do {produto2} foi de R$ {vendasprod2}")
print(" ")
produto3 = input("Digite o nome do produto")
quantprod3 = int(input("Qual a quantidade vendida?"))
valorprod3 = float(input("Qual o valor unitário?"))
vendasprod3 = quantprod3 * valorprod3
print(f"O total de vendas do {produto3} foi de R$ {vendasprod3}")
print('')
totaldevendas = vendasprod1 + vendasprod2 + vendasprod3
print(f"Venda total R$ {totaldevendas}")

Digite o nome do produtoboneco
Qual a quantidade vendida?18
Qual o valor unitário?19.5
O total de vendas do boneco foi de R$ 351.0

Digite o nome do produtospiner
Qual a quantidade vendida?8
Qual o valor unitário?16
O total de vendas do spiner foi de R$ 128.0

Digite o nome do produtocarrinho
Qual a quantidade vendida?2
Qual o valor unitário?45
O total de vendas do carrinho foi de R$ 90.0

Venda total R$ 569.0

In [ ]:
#EXERCICIOS CAPITULO 3
#Exercicio 1

a = 0
b = 3 
a1 = a > b
print(a1)

x = 3.7
a2 = x <= 10
print(a2)

a = 9
b = 16
a3 = a - b >= 0
print(a3)

a = 2
b = 4
n = 10
a4 = a * b < n
print(a4)

a = 3
b = 9
c = 5
a5 = 10 * a >= b * c
print(a5)

a = 3
b = 6
c = 5
a6 = 10 * a >= b * c
print(a6)

n = 7
a7 = n % 2 == 0 
print(a7)

n = 8
a8 = n % 2 == 0
print(a8)

t = "morango"
a9 = t == "banana"
print(a9)

t = "morango"
a10 = t == "banana"
print(a10)

False
True
False
True
False
True
False
True
False
False

In [ ]:
#Exercicio 2
a = 10
b = 15
c = 4
a1 = a < b and a < c
a2 = a < b or a < c
print(a1)
print(a2)

a = 1
b = 9
c = 0
a3 = a >= 0 and b == c
print(a3)

a = 1
b = 9
c = 9
a4 = a >= 0 and b == c
print(a4)

a = 1
b = 9
c = 0
a5 = a >= 0 or b == c
print(a5)

a = 1
b = 9
c = 9
a6 = a >= 0 or b == c
print(a6)

a = 0
b = 0
c = 0
a7 = b != 0 and a != c
print(a7)

a = 0
b = 0
c = 25
a8 = b != 0 and a != c
print(a8)

a = 0
b = 0
c = 0
a9 = b != 0 or a != c
print(a9)

a = 0
b = 0
c = 25
a10 = b != 0 or a != c
print(a10)

False
True
False
True
True
True
False
False
False
True

In [ ]:
#Exercicio 3
a = 10
b = 15
c = 4
a1 = a < b and a < c or c != 0
a2 = a < b and [a < c or c != 0]
print(a1)
print(a2)

a = 1
b = 9
c = 0
a3 = not [a >= 0 and b == c]
print(a3)

a = 1
b = 9
c = 9
a4 = not [a >= 0] and not [b == c]
print(a4)

a = 1
b = 9
c = 0
a5 = [a >= 0 or b == c] and b > a
print(a5)

a = -2
b = 0
c = 2
a6 = not [a <= b] or c > b
print(a6)

a = -2
b = 0
c = 2
a7 = not [a <= 0 or c > b]
print(a7)

a = 0
b = 1
c = 0
a8 = a == 0 and b != 0 and c == 0
print(a8)

a = 5
b = 0
c = 0
a9 = a == 0 and b != 0 and c == 0
print(a9)

a = 5
b = 0
c = 0
a10 = a == 0 or b != 0 or c == 0
print(a10)

True
[True]
False
False
True
True
False
True
False
True

In [ ]:
#Exercicio4
n = int(input("Olá, digite um número:"))
if n > 0:
    print(n, "Número Positivo!")
if n < 0: 
    print(n, "Número Negativo!")

Olá, digite um número:2
2 Número Positivo!

In [ ]:
#Exercicio5
n = int(input("Olá, digite um número:"))
if n % 2 == 0:     #resto da divisão for igual a zero
    print(n, "Número par")
else:
    print(n, "Número ímpar")

Olá, digite um número:39
39 Número ímpar

In [ ]:
n1 = int(input("Digite um número:"))
n2 = int(input("Digite outro número:"))
if n1 > n2:
    print(n1, "O primeiro número é maior")
else: 
    print(n1, 'O primeiro número é menor')
if n2 > n1:
    print(n2, 'O segundo número é maior')
else: 
    print(n2, 'O segundo número é menor')

Digite um número:33
Digite outro número:2
33 O primeiro número é maior
2 O segundo número é menor

In [ ]:
#Exercicio 7
a = float(input("Primeiro lado:"))
b = float(input("Segundo lado:"))
c = float(input("Terceiro lado:"))

if (a + b < c) or (a + c < b) or (b + c < a):
    print("Nao é um Triangulo")
elif (a == b) and (a == c) :
    print("Triangulo Equilatero")
elif (a==b) or (a==c) or (b==c):
    print("Triangulo Isósceles")
else:
    print("Triangulo Escaleno")

Primeiro lado:44
Segundo lado:3
Terceiro lado:2
Nao é um Triangulo

In [ ]:
#Exercicio 8

nome = input("Nome fornecido:")
peso = float(input("Peso fornecido:"))
if peso < 65:
    print(f"O lutador {nome} pesa {peso} kg e se enquadra na categoria Pena")
elif peso >= 65 and peso < 72:
    print(f"O lutador {nome} pesa {peso} kg e se enquadra na categoria Leve")
elif peso >= 72 and peso < 79:
    print(f"O lutador {nome} pesa {peso} kg e se enquadra na categoria Ligeiro")
elif peso >= 79 and peso < 86:
    print(f"O lutador {nome} pesa {peso} kg e se enquadra na categoria Meio-médio")
elif peso >= 86 and peso < 93:
    print(f"O lutador {nome} pesa {peso} kg e se enquadra na categoria Médio")
elif peso >= 93 and peso < 100:
    print(f"O lutador {nome} pesa {peso} kg e se enquadra na categoria Meio-pesado")
elif peso >= 100:
    print(f"O lutador(a) {nome} pesa {peso} kg e se enquadra na categoria Pesado")

Nome fornecido:Pepe Jordão
Peso fornecido:73.4
O lutador Pepe Jordão pesa 73.4 kg e se enquadra na categoria Ligeiro

In [ ]:
#Exercicio9
valorhora = float(input("Qual o valor da hora de trabalho?"))
horanormal = float(input("Quantas horas foram trabalhadas?"))
horaextra = float(input("Qual o total de horas extras?" ))
valorhoranormal = valorhora * horanormal
valorhoraextra = horaextra * (valorhora * 2)
print("Valor das horas trabalhadas:", valorhoranormal)
print("Valor das horas extras:", valorhoraextra)
print("O Valor total a ser recebido nesse mês é de R$", valorhoranormal + valorhoraextra)

Qual o valor da hora de trabalho?10.90
Quantas horas foram trabalhadas?25
Qual o total de horas extras?10
Valor das horas trabalhadas: 272.5
Valor das horas extras: 218.0
O Valor total a ser recebido nesse mês é de R$ 490.5

In [ ]:
#Exercicio 10
x = 1
while x <= 10:
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10